@font-face {
    font-family: Norse;
    src: url("../Norsebold.otf") format('opentype');
}

:root {
    --logo-color: rgba(0,0,0,0.5);
    --btn-color: #596D48;
    --wheat-color: rgba(245, 245, 245, 0.855);
    --border-color: #E5E7EB;
    --incorrect: rgba(226, 29, 29, 0.956);
    --focus: rgb(0, 225, 255);
    --body-color: rgb(255, 255, 255);
}

body {
    margin:0;
    padding:0;
    display:flex;
    flex-direction: row;
    background-color: var(--wheat-color) ;
    min-height: 100vh;
}

.left {
    display:flex;
    justify-content: center;
    
}

.right {
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    
    gap:20px;
    
}

.headTwo , .headThree {
    font-size: 23px;
    padding:0px 190px 0px 190px;
    display: flex;
    justify-content: flex-start;
    
}

.headTwo {
    padding-top:100px ;
}

h1.headOne {
    font-family: Norse,sans-serif;
    position: relative;
    color:var(--wheat-color);
}

.divOne {
    background-color: var(--logo-color);
    position:absolute;
    display:flex;
    align-items: center;
    top:200px;
    width: 750px;
    justify-content: center;
}

.logo {
    height: 200px;
    display: flex;
    
}
.waterMark {
    position: absolute;
    bottom:25px;
    margin:0;
    padding:0;
    display: flex;
    color: var(--wheat-color);
    font-size: 16px;
    opacity: 0.7;
    gap:8px;
    
}

.creator , .unsplash {
    color: var(--wheat-color);
}

.createBtn {
    background-color: var(--btn-color);
    padding:15px 40px 15px 40px;
    color:var(--wheat-color);
    border-radius: 9px;
    border-color:var(--wheat-color);
    box-shadow: 2px 2px black;
    font-size: 20px;
    font-weight: 900;
    margin-right: 870px;
}

input {
    border:solid;
    border-color: var(--border-color);
    border-width: 2px;
}

.submitForm {
  background-color: var(--border-color);
  border: solid var(--border-color);
  padding: 20px;
  gap: 10px;              
  display: flex;
  flex-direction: row;    
  flex-wrap: wrap;           
  margin: 0 auto;         
  box-sizing: border-box; 
}

legend {
    font-size: 40px;
    font-weight: 900;
    margin: 0px 600px 0px 200px;
}

.form-group {
  display: flex;
  flex-direction: column;
  width: calc(50% - 10px); 
  box-sizing: border-box;
}

.form-group label,
.form-group input {
  width: 60%;
  padding: 16px;
  box-sizing: border-box;
}

.form-group label {
  margin-bottom: 5px;
  font-weight: bold;
}


input,label {
    width: 50%;
    height: 33%;
}

#psswdInput:user-invalid {
    border-color:var(--incorrect);
}

#conformInput:user-invalid {
    border-color: var(--incorrect);
}

#lastInput:focus {
    border:solid;
    border-color: var(--focus) !important;
    
}

.login {
    text-decoration: none;
}

.headFive {
    font-size: 20px;
}

.createBtn,.headFive {
    margin-left: 60px;
}
